<suite name="weatherTest" verbose="1">
    <parameter name="apiKey"  value="7fe67bf08c80ded756e598d6f8fedaea"/>
    <parameter name="url"  value="https://www.ndtv.com/"/>
    <test name="WeatherComparator" >
        <parameter name="cityName"  value="Bengaluru"/>
        <parameter name="temperatureVariance"  value="2"/>
        <parameter name="humidityVariance"  value="10"/>
        <parameter name="windSpeedVariance"  value="2.5"/>
        <classes>
            <class name="WeatherTest" />
        </classes>
    </test>
</suite>
